<style>
    .hed-border {
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: #C82027;
    }
    element.style {
    margin-left: 10px;
}
img{
    margin-left: 5
}

.bar-footer {
  height: 50px;
  background-color:#C82027;
  border: 0;
  position:absolute;
  margin-bottom: 0%
}

element.style {
}
.md ion-footer .toolbar:last-child {
    padding-bottom: calc(constant(safe-area-inset-top) + 4px);
    height: calc(56px + constant(safe-area-inset-top));
    min-height: calc(56px + constant(safe-area-inset-top));
}
.toolbar-md {
    min-height: 48px;
    box-shadow: unset;
}


</style>
<ion-header color="twitter">
    <button  ion-button menuToggle class="hed-border" style="margin-left: 0%; margin-top: 6px">
    <ion-icon  color="dark" class="larger" name="menu"></ion-icon>
   <img src="assets/logo.png" style="
   margin-top: 3px;
   margin-left: 1.5;
   margin-left: 2.5px;
">
    <!--<button ion-button >DBC NEWS</button>-->
    </button>
</ion-header>
<super-tabs toolbarBackground="twitter">
    <!-- <super-tab [root]="tab1Root" color="androidprimary" title="Home"></super-tab> -->
    <super-tab [root]=jatiow></super-tab>
    <super-tab [root]=rajniti></super-tab>
    <super-tab [root]=antorjatik title="আন্তর্জাতিক"></super-tab>
    <super-tab [root]=Khela></super-tab>
    <super-tab [root]=krishi title="কৃষি"></super-tab>
    <super-tab [root]=nari title="নারী"></super-tab>
    <super-tab [root]=Orthoniti title="অর্থনীতি"></super-tab>
    <super-tab [root]=probash title="প্রবাস"></super-tab>
    <super-tab [root]=saradesh title="সারাদেশ"></super-tab>
    <super-tab [root]=shongskriti title="সংস্কৃতি"></super-tab>
    <super-tab [root]=voganti title="ভোগান্তি"></super-tab>
</super-tabs>

<ion-footer>
        <ion-toolbar  color="twitter">
                <ion-title  style="color:#C82027;">
                        &copy; DBC NEWS 24/7
                    </ion-title>
        </ion-toolbar>

  </ion-footer>
<!-- <ion-footer  scroll="false" style="width: 100%;">
    
</ion-footer> -->
<!--
<ion-footer>
     <ion-toolbar color="dark">
        <ion-title align="center"> &copy; DBC NEWS 24/7
            <!-- <ion-icon *ngIf="!toggled" (click)="toggle()" name="search"></ion-icon> -->
<!-- <ion-searchbar *ngIf="toggled" [showCancelButton]="true" spellcheck="true"  (ionCancel)="cancelSearch($event)"> </ion-searchbar> -->
<!-- </ion-title> -->

<!-- [(ngModel)]="someValue" (ionInput)="searchThis($event)" (ionCancel)="cancelSearch($event)" (ionClear)="cancelSearch($event)" [showCancelButton]="true"



    </ion-toolbar>

</ion-footer>
-->
