<!--
  Generated template for the ShonskritiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<script src="assets/moment.js"></script>
<ion-header>

    <ion-navbar color="danger">

        <ion-title>জাতীয়</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div ion-card>

        <!-- Normal Demo-->
        <div class="column" *ngFor="let user of users" (click)="details(user)">
            <!--<ion-title>অবাধ-সুষ্ঠু নির্বাচন চায় ভারত: বিএনপি</ion-title>-->
            <!-- Post-->
            <div class="post-module homeimg">
                <!-- Thumbnail-->
                <div class="thumbnail">

                </div><img src="{{user.coverphoto.photo}}" />
            </div>
            <!-- Post Content-->
            <div class="ion-content">
                <br>
                <h1 class="title" style="font-size:large; font-weight:bold; text-align: center;"> {{user.details.headline}} </h1>
                <h2 class="sub_title"></h2>
                <p class="description">
                </p>
                <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-"></i> {{user.created_at|dateform }}</span><span class="comments"></span></div>
            </div>
        </div>
    </div>

    <!--*ngIf="totalData == totalPage"-->
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>